.btn {
  padding: 15px 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px calc(22/16);
  
  border-radius: 12px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition-duration: 250ms;
  &:hover,
  &:focus {
    box-shadow: 1px 2px 0px #A33B3B;
    @extend %transition;
  }
}

.btn-light {
  color: var(--accent-color);
  background-color: #FFFFFF;
  &:hover,
  &:focus {
      background-color: var(--accent-color);
      color: #FFFFFF;
    }
}

.btn-dark {
  color: #ffffff;
  background-color: var(--accent-color);
  &:hover,
  &:focus {
      background-color: white;
      color: var(--accent-color);
    }
}
