.btn {
  display: block;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(22/16);
  color: var(--accent-color);
  background-color: var(--second-text-color);
  box-shadow: inset 0px 0px 5px var(--accent-color);
  border-radius: 12px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition-duration: 700ms;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--second-text-color);
    box-shadow: 0px 0px 3px var(--box-shadow-btn);
    transition-duration: 700ms;
  }
}
