:root {
    --main-text-color: #000000;
    --second-text-color: #ffffff;
    --accent-color: #E25E5E;
    --main-background: #F5F5F5;
    --btn-background: linear-gradient(89.1deg, #ED5252 21.17%, #E15D5D 64.27%);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}