:root {
    --text-color-hero: #312A2A;
    --main-text-color: #000000;
    --second-text-color: #ffffff;
    --accent-color: #E25E5E;
    --main-background: #F5F5F5;
    --box-shadow-color: rgba(0, 0, 0, 0.17);
    --box-shadow-btn: #A33B3B ;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}