body {
    font-family: 'nunito';
    font-style: normal;
    background-color: var(--main-background);
    margin: 0;
}

h1{
    font-family: 'mon';
}

h2{
    font-family: 'gilroy';
    font-weight: 700;
}