body {
    font-family: 'Nunito';
    font-style: normal;
    background-color: var(--main-background);
    margin: 0;
}

h1{
    font-family: 'Mon';
}

h2, h3{
    font-family: 'Gilroy';
    font-weight: 700;
}