.container__products{
    position: relative;
}
.products__title{
    margin-bottom: 22px;
    font-size: 27px;
    line-height: calc(27/25);

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .container__products {
            position: relative;
        }
    .products__title {
            margin-bottom: 22px;
            font-size: 64px;
            line-height: calc(68/64);
        }
    .products__img{
        position: absolute;
        top: -165px;
        right: -3%;
        width: 78px;
        height: 144px;
        transform: rotate(-26.91deg);
        background-image: url('../../img/products/ketchup-300-4.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}