.section-recipes{
    background: var(--accent-color);
}
.recipes__title{
    margin-bottom: 25px;
    font-size: 25px;
    line-height: calc(27/25);

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: var(--second-text-color);
}
.recipes__text{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(22/16);
    text-align: center;

    color: var(--second-text-color);

}
.recipes__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    &-item{
        width: 140px;
    }
    &-img{
        margin-bottom: 11px;
    }
    &-text{
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 13px;
        line-height: calc(14/13);

        text-align: center;
        letter-spacing: -0.03em;

        color: var(--second-text-color);
    }
}

.recipes_btn{
    display: block;
    margin: 0 auto;
    color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .container__recipes{
        position: relative;
    }
    
        .recipes__title {
            font-size: 64px;
            line-height: calc(68/64);
        }
    
        .recipes__text {
            margin-bottom: 34px;
            font-size: 24px;
            line-height: calc(33/24);
        }
    
        .recipes__list {
            gap: 28px;
            margin-bottom: 40px;
    
            &-item {
                width: 270px;
            }
    
            &-img {
                margin-bottom: 15px;
                height: 270px;
            }
    
            &-text {
                font-size: 18px;
                line-height: calc(19/18);
            }
        }
        .recipes__img{
            position: absolute;
            top: -145px;
            left: -85px;
            width: 180px;
            height: 180px;
            background-image: url('../../img/Ketchup-Tomato4.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
    }
}