@font-face{
	font-family: Bebas;
	font-display: swap;
	src: url("../fonts/Bebas-neue-cyrillic1.woff2") format("woff2"), url("../fonts/Bebas-neue-cyrillic1.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-medium.woff2") format("woff2"), url("../fonts/Gilroy-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-regular.woff2") format("woff2"), url("../fonts/Gilroy-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Mon;
	font-display: swap;
	src: url("../fonts/Mon-amour-regular.woff2") format("woff2"), url("../fonts/Mon-amour-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-bold.woff2") format("woff2"), url("../fonts/Gilroy-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-regular.woff2") format("woff2"), url("../fonts/Nunito-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
